<div class="achievement_container">
  <div class="header">
    <h1>Achievements</h1>
  </div>
  <% @achievements.each do |achievement| %>
    <ul>
      <li><%=link_to achievement.title, achievement , :class => "links"%></li>
    </ul>
  <% end %>

</div>
