<div id="container2">
  <div class="achievement_container">
    <div class="header">
      <h1 style ="width:100%">Achievements</h1>
    </div>
    <% @achievements.each do |achievement| %>
      <ul>
        <li><%=link_to achievement.title, achievement , :class => "links"%></li>
      </ul>
    <% end %>
  <br>
  </div>
  <div class="gif">
    <img style="border: solid #2C2B39; border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 450px; width: 400px; position:relative; right: 30px;"src="https://media.giphy.com/media/nXxOjZrbnbRxS/giphy.gif" >
  </div>
</div>
